<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <form action="/sqeez" method="post">
    <input type="text" name="url" /><br>
    <input type="submit" value="Submit" />
  </form>

</body>
</html>
